
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(58, 92, 131, 0.983);
    height: 100vh;
    font-family: sans-serif;
}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(58, 92, 131, 0.983);
    border: none;   
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
     
}
.form--submit:hover{
    background-color: rgba(22, 60, 104, 0.983);
}
.form--submit:active{
    background-color: rgba(22, 60, 104, 0.983);
    border: 3px solid rgb(187, 203, 236);;
}
.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing > input {
    margin-right: 10px;
}
